<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <!-- This is html comment visible in browser inspect element -->
    <!--
   {% comment %}
        This is comment for developers
        Invisible in inspect element in browser
   {% endcomment %}
   {% if names %}
        {% for names in names %}
            {{names}}
        {% endfor %}
    {% else %}
        <h3>No students found</h3>
   {% endif %}
    -->
     
</body>
</html>